# User-specific files
.ipynb_checkpoints
**/*.ipynb_checkpoints/
.private

# Raw data from Scryfall in API folder
/API/*
!/API/info.txt

# Dataset
/Datasets/*
!/Datasets/info.txt

# Models
/Models/*
!/Models/info.txt